@model SistemaDP.Models.HorariosAtuais

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>HorariosAtuais</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.data_entrada_abertura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.data_entrada_abertura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.data_saida_abertura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.data_saida_abertura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.data_entrada_inter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.data_entrada_inter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.data_saida_inter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.data_saida_inter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.data_entrada_noite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.data_entrada_noite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.data_saida_noite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.data_saida_noite)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
