@model SistemaDP.Models.HorariosAtuais

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HorariosAtuais</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.data_entrada_abertura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.data_entrada_abertura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.data_saida_abertura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.data_saida_abertura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.data_entrada_inter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.data_entrada_inter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.data_saida_inter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.data_saida_inter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.data_entrada_noite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.data_entrada_noite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.data_saida_noite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.data_saida_noite)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
