@model SistemaDP.Models.Familiares

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Familiares</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nome_pai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nome_pai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nome_mae)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nome_mae)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nome_filho)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nome_filho)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nasc_filho)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nasc_filho)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
