@model IEnumerable<SistemaDP.Models.Familiares>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nome_pai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nome_mae)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nome_filho)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nasc_filho)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome_pai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nome_mae)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nome_filho)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nasc_filho)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
