@model SistemaDP.Models.TarifasDeOnibus

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TarifasDeOnibus</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tarifa_original)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tarifa_original)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tarifa_atual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tarifa_atual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.data_modificacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.data_modificacao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
